# Plugin de economía (¡por ahora!)
/Economia/
# Código Java compilado
/TiempoReal/target/
/GestorBarraAccion/target/
/Economia/target/
/LibConfig/target/
/target/
# JAR
/jar/
# Javadoc
javadoc/
# Directorio de ficheros generados por tareas de VS Code
/tasks/
# Ficheros creados por Eclipse/VS Code
.project
.classpath
.factorypath
/.settings/
/GestorBarraAccion/.settings/
/TiempoReal/.settings/
/Economia/.settings/
/LibConfig/.settings/